.friend{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}
.freindName{
    font-size: 16px;
    cursor: pointer;
}
.friend>img{
    height: 32px;
    width: 32px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}